@media (max-width: 721px) {


 
    body{
        height: 80vh;
    }
    
    nav {
        height: 6.2vmax;
    }

    form {
        margin-top: 0;
        width: 80%;
        border: 1.5px solid black;
    }


    input:focus {
        border: 1px solid #2196f3;
        box-shadow: 0 1px 1px 1px #2196f3;
    }

    .dropdown {
        display: flex;
        gap: 3vmax;
        text-align: center;
        align-items: center;
    }

    .dropdown i {
        font-size: 2vmax;
    }
 
    #latest_rates_display {
        font-size: 1.8vmax;
    }

   
}