* {
    margin: 0;
    padding: 0;
    font-family: 'Courier New', Courier, monospace;
    box-sizing: border-box;
}

h1 {
    font-size: 2vmax;
}

h5 {
    font-size: 1.5vmax;
}

body {
    background-color: rgb(15, 39, 124);
    display: flex;
    justify-content: center;
    }

form {
    margin-top: 20vh;
    height: auto;
    width: 30vmax;
    border: 2px solid black;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 2vmax;
    gap: 2vmax;
    align-items: center;
    background-color: rgba(173, 237, 155, 0.784);
}

input {
    width: 75%;
    font-size: 1.7vmax;
    padding: 10px;
    text-align: center;
    border-radius: 3px;
    outline: none;
}

.dropdown {
    display: flex;
    gap: 3vmax;
    text-align: center;
    align-items: center;
}

.dropdown i {
    font-size: 1.5vmax;
}

.from {
    /* flex-direction: column; */
}


.to {
    /* display: flex; */
}

.select-container {
    display: flex;
    align-items: center;
    justify-content: center;
    /* padding: 5px 0; */
    border: 2px solid gray;
    border-radius: 10px;
}

.select-container img {
    width: 30%;
}

select {
    font-size: 1vmax;
    padding: 7px;
    border: none;
    background-color: transparent;
    outline: none;
}


select img {
    /* width: 2%; */
}

button {
    font-size: 1.3vmax;
    padding: 8px 16px;
    border-radius: 5px;
    background-color: rgb(74, 91, 224);
    color: white;
    cursor: pointer;
}

button:hover {
    background-color: rgb(8, 31, 209);
}

#result {
    font-size: 1.3vmax;
}